<h1>Locações</h1>

<%= link_to 'Registrar nova locação', new_rental_path %>

<%= form_with url: '/rentals/search', method: :get do |f| %>
  <%= f.label :q, 'Código' %>
  <%= f.text_field :q %>
  <%= f.submit'Buscar' %>
<% end %>

<% @rentals.each do  |rental| %>
  <dl>
  
    <dt>Código</dt>
    <dd><%= rental.code %></dd>
    <dt>Data de Inicío:</dt>
    <dd><%= l rental.start_date %></dt>
    <dt>Data de Término:</dt>
    <dd><%= l rental.end_date %></dt>
    <dt>Cliente:</dt>
    <dd><%= rental.customer.name%></dt>
    <dt>Categoria:</dt>
    <dd><%= rental.car_category.name %></dt>
  </dl>
<% end %>